<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="https://kit.fontawesome.com/00e77377ee.js" crossorigin="anonymous"></script>
    <title>About Us | BaytClothing</title>

    <style>
        .about{
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 44px;
        }
        p{
            margin-top: 15px;
            font-size: 23px;
            color: slategray;
        }
    </style>
</head>
<body>
    <header class="container">
        <nav>
            <div>
                <img width="50px" height="50px" src="assets/logo.jpg" alt="company logo">
            </div>
            <div>
                <a href="/">Home</a>
                <a href="/products">Products</a>
                <a href="/offer">Offers</a>
                <a href="/about">About Us</a>
                <a href="/blogs">BLogs</a>
            </div>
            <div class="social-links">
                <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
                <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
            </div>
        </nav>
    </header>
    <section class="container banner" style="background-image: url('assets/product-banner.jpg');">
        <div class="shadow"></div>
        <div class="banner-text">
            <h2>Why Choose Us?</h2>
            <p>
                Our collections feature bold designs and quality craftsmanship, offering a unique fusion of modern street fashion and traditional elements.
            </p>
        </div>
    </section>


    <section class="container about">
        <h1>ABOUT US</h1>
        <p>Bayt is a streetwear brand that blends urban style with cultural influences to create distinctive clothing and accessories. Our collections feature bold designs and quality craftsmanship, offering a unique fusion of modern street fashion and traditional elements. Whether you're hitting the streets or chilling at home, Bayt brings you versatile pieces that elevate your look and celebrate your roots.
        </p>
        <p>
            We started with a focus on streetwear that speaks to both modern trends and cultural heritage, and we’re just getting started. Soon, we’ll be expanding our collections to include more diverse designs that represent cities, states, countries, and scenic landscapes like mountains, beaches, and deserts, as well as holidays and colleges.
        </p>    
        <p>
            Our goal is to offer creative, high-quality apparel that resonates with your lifestyle, bringing together the best of urban fashion and global influences. Thank you for being part of our journey as we continue to grow and evolve. Welcome to Bayt.</p>
    </section>

    <footer>
        <div class="container footer-block">
            <h2>SIGN UP FOR EXCLUSIVE UPDATES AND FOLLOW US ON SOCIAL MEDIA!</h2>
            <div class="footer-email">
                <form action="/subscribe" method="post">
                    <input type="email" name="email" required placeholder="Email">
                    <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="social-links">
                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://tiktok.com/"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
                </div>
            </div>
            <div style="margin-top: 13px; text-align: center;">
                <hr>
            <p style="margin-top: 13px;">&copy; All Rights Reserved By BaytClothing</p>
            </div>
        </div>
       
    </footer>
</body>
</html>