<!-- views/success.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success - Bayt Store</title>
    <!-- Link to Google Fonts for Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/success.css">

</head>
<body>
    <div class="success-container">
        <h1>Thank You for Your Purchase!</h1>
        <p>Your payment was successful, and your order is being processed.</p>
        <p>If you have any questions or need further assistance, feel free to <a href="/contact">contact us</a>.</p>
        <a href="/" class="btn">Back to Homepage</a>
    </div>
</body>
</html>
