/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
    text-decoration: none;
    list-style: none;
}


header{
    position: relative;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: white;
}
header nav a{
    color: black;
}

header nav ul{
    display: flex;
    gap:14px;
    align-items: center;
    text-transform: uppercase;
    font-size: small;
}
header nav ul li{
    padding: 13px 8px;
}

.banner{
    background-image:url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    position: relative;
}
.banner-text{
    padding: 8px 33px;
    color: white;
    position: relative;
    text-align: center;
    z-index: 1;
}
.banner-text a{
    color: white;
    text-decoration: underline;
}


.shadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.49);
    width: 100%;
    height: 100%;
}


.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 33px ;
    gap: 15px;
    padding: 13px 8px;
}

.product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.product h2,p{
    font-size: small;
    font-weight: 300;
}
.product button{
    color: black;
    background-color: transparent;
    border: solid 1px black;
    outline: none;
    padding: 8px 13px;
    cursor: pointer;
    margin: 13px 0;
    transition: ease-in .5s;
}
.product button:hover{
    background-color: black;
    color: white;

}

.blog-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 13px 8px;
    gap: 8px;
}
.blog img{
    width: 100%;
    height: 500px;
    object-fit: cover;   
    border-radius: 8px; 
}
.blog p{
    margin-top: 8px;
    font-size: small;
}
.blog a{
    border: solid 1px black;
    padding: 8px 13px;
    color: black;
    font-size: small;
    margin-top: 13px;
    display: block;
    text-align: center;
}


footer .form-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    background-color: black;
    padding: 33px 8px;
    color: white;
    text-align: center;
}

footer form{
    display: flex;
}
footer form input{
    border: solid 1px white;
    width: 100%;
    padding: 13px 33px;
    background-color: transparent;
    color: slategray;
    outline: none;
}

footer form button{
    padding: 0 8px;
    border: none;
    outline: none;
    cursor: pointer;
}


.footer-grid{
    max-width: 1050px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding: 33px 0;
}
.footer-grid ul li{
    color: black;
    text-transform: uppercase;
    font-size: small;
}
.footer-grid ul li a{
    color: black;
}
.footer-grid ul li:nth-child(1){
    margin: 13px 0;
}
.footer-grid ul li{
    padding: 3px 0;
}
.copyright{
    text-align: center;
}




.offer-banner{
    background-image: url('../assets/offer-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.offer-text{
    text-align: center;
    font-style: italic;
    position: relative;
    z-index: 77;
    font-size: xx-large;
}
.mbl-links , #mbl-btn{
    display: none;
}
/* Responsive styling */
@media screen and (max-width: 600px) {
    
    header nav{
        padding: 13px 8px;
    }

    .product-grid{
        grid-template-columns: 1fr 1fr;
    }
    .blog-grid{
        grid-template-columns: 1fr 1fr;
    }
    .lg-links{
        display: none;
    }
    #mbl-btn{
        display: block;
        border: solid 1px black;
        padding:  8px;
        font-size: x-large;
        background-color: transparent;
    }
    .mbl-links{
        display: none;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        top: 70px;
        right: 8px;
        width: 90%;
        padding: 13px 8px;
        background-color: white;
        z-index: 88;
        text-align: left;

    }
    .mbl-links a{
        color: black;
        
    }
    .mbl-links.open{
        display: flex;
    }
    .offer-banner{
        height: 100vh;
    }
    .offer-text{
        font-size: 23px;
    }

    .footer-grid{
        grid-template-columns: 1fr 1fr;
        place-items: center;
        place-content: center;
        gap:8px
    }
    form{
        width: 100%;
    }
    .form-sec form{
        flex-direction: column;
    }
    .form-sec button{
        padding: 13px 0;
        margin-top: 3px;
    }
}

@media screen and (max-width: 400px) {
    .product-grid{
        grid-template-columns: 1fr;
    }
    .blog-grid{
        grid-template-columns: 1fr;
    }
    .offer-text{
        font-size: 16px;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
}